.alarm_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: calc(100vh - 40px);
}
.left_container,.right_containerr ,.alarm_con{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.alarm_con{
    gap: 20px;
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.alarm_time{
    width: 100%;
    font-size: 80px;   
}
.alarm_day{
    font-size: 40px;
}
.alarm_set_btn{
    height: 40px;
    color: white;
    width: 120px;
    background-color: transparent;
    border: solid rgb(3, 92, 3) 1px;
    border-radius: 5px;
}
.alarm_set_btn:hover{
    transition: 1s all;
    background-color: rgb(3, 92, 3);
}
.right_containerr{
    /* background-color: white; */
}
.heading_myalarm{
    font-size: 40px;
}
.alarm_card_containerr{
    height: 500px;
    width: 400px;
    overflow-y: scroll;
    pad: 10px;
}
.alarm_card_containerr::-webkit-scrollbar{
    background-color: transparent;
    width: 0px;
    display: none;
}
.alarm-card_container{
    /* background-color: blue; */
    height: 70px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.single_card_container{
    background-color: lightgray !important;
    width: 100%;
}
.card_hour{
    background-color: lightgray !important;
}
.del-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px !important;
    width: 100px !important;
}
.del-btn-con{
    background-color: lightgray !important;
}
.del-btn{
    background-color: rgb(251, 72, 72);
}
.action_container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.Hour_container,.minute_container{
    border: solid gray 1px;
    width: 50px !important;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.up_arrow,.down_arrow{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up_arrow{
    border-bottom: solid gray 1px;
}
.down_arrow{
    border-top: solid gray 1px;
}
.display_hour{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.type_container{
    display: flex;
    gap: 30px;
    flex-direction: column;
    font-size: 20px;
}