* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-time {
  font-size: 16px;
  height: 100vh;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.animated-object {
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch {
  width: 400px;
  height: 600px;
  box-shadow: 1px 0px 15px;
  text-align: center;
  padding: 50px;
  border: 1px solid #435b66;
  border-radius: 5%;
  margin-left: 5em;
}

.outer-circle {
  width: 100%;
  height: 180px;
  border-radius: 50%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 95%;
  height: 170px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  color: black;
  font-size: 35px;
  font-weight: bold;
  font-family: Digital;
}

.button-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 0px 5px #444;
  background-color: #2d4356;
  cursor: pointer;
  margin: 10px;
}
.btn:hover {
  background-color: #eab2a0;
}

.lightbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 0px 5px #444;
  background-color: rgb(2, 136, 209);
  cursor: pointer;
  margin: 10px;
}
.lightbtn:hover {
  background-color: #eab2a0;
}

.lap-heading {
  list-style: none;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #444;
  border-radius: 50px;
  color: #a76f6f;
  display: flex;
  justify-content: space-around;
}

.laps {
  list-style: none;
  width: 100%;
  height: 150px;
  overflow: auto;
  position: relative;
  margin-top: 7px;
  padding: 0;
}

.laps::-webkit-scrollbar {
  display: none;
}


.lap-items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5px;
  text-align: center;
  border: 1px solid #444;
  border-radius: 50px;
  margin-bottom: 5px;
  font-family: Digital;
  font-size: 18px;
  font-weight: bold;
}

#animation-bg {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #00ff00
  );
  background-size: 400% 400%;
  animation: Animation 3s ease infinite;
}
@keyframes Animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.gears {
  width: 100%;
  height: 600px;
  padding: 2em;
  position: relative;
  color: rgb(45, 67, 86);
}

.lightgears {
  width: 100%;
  height: 600px;
  padding: 2em;
  position: relative;
  color: rgb(2, 136, 209);
}

.gear1,
.gear2,
.gear3,
.gear4
{
  position: absolute;
}

.gear1 {
  top: 100px;
}

.gear2 {
  top: 300px;
  left: 300px;
}

.gear3 {
  top: 205px;
  left: 448px;
}

.gear4 {
  top: 30px;
  left: 310px;
}

#spin {
  animation: spin 4s linear infinite;
}

#spin-back {
  animation: spin-back 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-back {
  100% {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width:768px) {
  .gears {
    display :none;
  }
  .container-time {
    grid-template-columns: 1fr;
    margin: auto;
  }
  .watch {
    margin: 0;
  }
} 
